PORT=5000
MONGO=mongodb://localhost:27017/e-commerce
JWT_SECRET=walidddzoipkxpiskxz
FRONTEND_URL=http://localhost:3000
STRIPE_KEY=sk_test_51RxqOnJmcpSADL6UzWtN69FX0yG3j6VEAANGbKxQMUhTbe2nVgvkrtanqJJ65esio5XJu2YHc4RipXr5o4FxJSFC00jEaZ1nlv
CHARGILY_KEY=test_sk_IivHnxmRehmQCLmKtbSc0Z4Vd2DHy40ApiOQ6SIh
CHARGILY_WEBHOOK_URL=https://loon-oriented-multiply.ngrok-free.app/webhook/chargily 
SHIPPING_FEE=10
ADMIN_URL=http://localhost:3001
JWT_SUPABASE=f9x4gYYfs9h8JqZh9lLisHXEmY5D5/k9yW4WsvtWgJSOYzWBq63JgfbXw66JCfo+bZ+jyEMaj2xVjAfqa9SH/w==