REACT_APP_API_PRODUCT_URL=http://localhost:5000/v1/api/products
REACT_APP_API_USER_URL=http://localhost:5000/v1/api/users
REACT_APP_API_CART_URL=http://localhost:5000/v1/api/cart
REACT_APP_SHIPPING_FEE=10
REACT_APP_API_ORDER_URL=http://localhost:5000/v1/api/orders
REACT_APP_API_PROFILE_URL=http://localhost:5000/v1/api/profile
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51RxqOnJmcpSADL6UdFh798xnAnYqRTcAObTQz0SE9M6FMU9Ok0hTTTwgNHgbmEM3gEer9SQZ6qZvYnV0Zl5oOEsI00ywEnXPob
REACT_APP_API_PAYEMENT_URL=http://localhost:5000/v1/api/pay
REACT_APP_CHARGILY_PUBLIC_KEY=test_pk_uas4AJazhOfzE1qSyX4CQSVD6JWfBLwKkTrjdc5k
REACT_APP_API_REVIEW_URL=http://localhost:5000/v1/api/reviews
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlY3JscW56ZG1seXR1eHNocWZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY4Mjk3NzgsImV4cCI6MjA3MjQwNTc3OH0._ntt7VkcPn9JeYY6ifKkvzaoF6YYhDfKeG7AEbRg17o
REACT_APP_SUPABASE_URL=https://qecrlqnzdmlytuxshqfu.supabase.com