REACT_APP_API_PRODUCT_URL=http://localhost:5000/v1/api/products
REACT_APP_API_USER_URL=http://localhost:5000/v1/api/users
REACT_APP_API_CART_URL=http://localhost:5000/v1/api/cart
REACT_APP_SHIPPING_FEE=10
REACT_APP_API_ORDER_URL=http://localhost:5000/v1/api/orders
REACT_APP_API_PROFILE_URL=http://localhost:5000/v1/api/profile
REACT_APP_STRIPE_PUBLISHABLE_KEY=
REACT_APP_API_PAYEMENT_URL=http://localhost:5000/v1/api/pay
REACT_APP_CHARGILY_PUBLIC_KEY=
REACT_APP_API_REVIEW_URL=http://localhost:5000/v1/api/reviews
REACT_APP_SUPABASE_ANON_KEY=
REACT_APP_SUPABASE_URL=